 <!--Showcase-->

 <section class="bg-dark text-light py-3 text-center">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>A <span class="text-warning">
                    Doctor
                </span>  For <span class="text-warning">
                    You
                </span></h1>
                <p class="lead my-4">
                    We specialize in helping to pair you with a doctor that fits your and your family's needs
                </p>
                <!--<button class="btn btn-primary btn-lg">Book Now</button>-->
            </div>
           <img src="assets/img/doctor1.svg" alt="doctorimage" class="img-fluid w-50 d-none d-sm-block"/>
        </div>
    </div>
</section>

