<section class="bg-primary text-light ">
    <div class="container text-center">
<blockquote class="blockquote">
    <p>
        “The advance of technology is based on making it fit in so that you don't really even notice it, so it's part of everyday life.”
        Bill Gates, Co-founder of Microsoft
    </p>
</blockquote>
<section>
    <p>At HelloDoc, it was our vision to bring you a platform that is your go-to application when you need to find a doctor to fit your family's needs. We have found, through our own struggles, that trying to find a doctor has become a convoluted process of searching your provider's website and sitting on the phone only to listen to hold music.</p>
    <p>Now you are able to find a doctor that works with you at the push of a button. Whether you need a pediatrician for your newborn or a primary care physician for the loved one in your life, HelloDoc is here to serve the way. </p>
</section>
<section>
    <p>Thank you for choosing HelloDoc, <br/>
    -Timmy, Joel and Taylor (founders)</p>
</section>
</div>
</section>