
   <!--NavBar-->
   <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-1">
    <div class="container">
        <img src="assets/img/HelloDoc125.png" class="img-fluid" title="helloDocLogo">

       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu" title="navMenu">
           <span class="navbar-toggler-icon"></span>
       </button>

       <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navmenu">
            <div *ngIf="toggleLogin">
                <h1 *ngIf="toggleRes" style="color:whitesmoke">{{"Welcome " + curPatient.username + "!"}}</h1>
                <app-patient-login *ngIf="!toggleRes" (messageEvent)="recieveMessage($event)"></app-patient-login>
             </div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"> 
                    <a href="#login" class="nav-link" *ngIf="!toggleRes" (click)="toggleLoginField()">Login </a> 
                    <a href="#signout" class="nav-link" *ngIf="toggleRes" (click)="signOut()">Sign Out </a> 
                </li>
                <li class="nav-item">
                    <a href="#signup" class="nav-link" >Sign Up</a>
                </li>
                <li>
                   </li>
                <li class="nav-item">
                    <a href="#about us" class="nav-link">About Us</a>
               </li>


            </ul>
        </div>
    </div>
    </div>    
</nav>
<router-outlet></router-outlet>
