<section>
  <div>
    <table class="table table-light table-hover" *ngIf="doctors.length > 0">

      <thead>
        <tr>
          <th scope="col">Doctor ID</th>
          <th scope="col">Doctor Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Email</th>
          <th scope="col">Speciality</th>
          <th scope="col">Book</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of doctors;let i=index">
          <td>{{d.doctorId}}</td>
          <td>{{d.doctorName}}</td>
          <td>{{d.phoneNumber}}</td>
          <td>{{d.email}}</td>
          <td>{{d.specialty}}</td>
          <td><button type="button" class="btn btn-outline-dark btn-warning btn-sm" data-bs-toggle="modal"
              data-bs-target="#booking">Schedule</button></td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="doctors.length == 0">
      <h2 class="bg-primary">No Results</h2>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="booking" tabindex="-1" aria-labelledby="bookingLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-dark" id="searchLabel">Inquiry Form</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-md-flex justify-content-between align-items-center">
          <form>

            <div class="form-floating mb-2">
              <input type="text" class="text" placeholder="symptoms">
            </div>

            <div class="form-floating mb-2">
              <input type="text" class="text" placeholder="description of what is going on">
            </div>

            <div class="form-floating mb-2">
              <input type="date" class="date">
            </div>

          </form>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="display()">Schedule </button>
      </div>

    </div>
  </div>
