<!-- Doctor Spotlight -->
<section class="p-2">
    <div class="container"> 
        <div class="row text-center">
            <div class="container bg-dark"><h1 class=""><span class="text-warning">Doctor's Spotlight</span></h1></div>
            <div class="col-md-4 col-lg-4 py-2">        
                    <div class="card bg-dark text-light">
                        <img src="assets/img/asian-female-doctor.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title" mb-2><span class="text-warning">Dr. Christi Ming, MD</span></h3>
                          <p class="card-text">
                              <p>
                                  Primary Care Physician<br/><br/>
                                  American Board of Family Medicine<br/><br/>
                                  Medical School - University of Pittsburgh, Doctor of Medicine
                                  
                              </p>
                              <a href="#"><i class="bi bi-linkedin text-light mx-1" title="linkedin"></i></a>
                              <a href="#"><i class="bi bi-instagram text-light mx-1" title="instagram"></i></a>
                              <a href="#"><i class="bi bi-twitter text-light mx-1" title="twitter"></i></a>
                        </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 py-2">
                <div class="card bg-dark text-light">
                    <img src="assets/img/male-doctor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title" mb-2><span class="text-warning">Dr. Samuel Ross, MD</span></h3>
                      <p class="card-text">
                          <p>
                              Dermatologist<br/><br/>
                              American Board of Dermatology<br/><br/>
                              Medical School - University of S. California, Doctor of Medicine
                          </p>
                          <a href="#"><i class="bi bi-linkedin text-light mx-1" title="linkedin"></i></a>
                              <a href="#"><i class="bi bi-instagram text-light mx-1" title="instagram"></i></a>
                              <a href="#"><i class="bi bi-twitter text-light mx-1" title="twitter"></i></a>
                    
                    </div>
            </div>
            </div>
            <div class="col-md-4 col-lg-4 py-2">
                <div class="card bg-dark text-light">
                    <img src="assets/img/white-female-doctor.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title" mb-2><span class="text-warning">Dr. Margaret Milroy, APRN</span></h3>
                      <p class="card-text">
                          <p>
                              Psychiatrist<br/><br/>
                              American Nurses Credentialing Center<br/><br/>
                              University of California, Master's in Nursing                       
                          </p> 
                          
                          <a href="#"><i class="bi bi-linkedin text-light mx-1" title="linkedin"></i></a>
                              <a href="#"><i class="bi bi-instagram text-light mx-1" title="instagram"></i></a>
                              <a href="#"><i class="bi bi-twitter text-light mx-1" title="twitter"></i></a>
                    </div>
            </div>
            </div>
        </div>
    </div>
    </section>
