<p>signup works!</p>
<section>
    <form class="form-style"></form>
    <fieldset>
        <label>Name</label>
        <input name="name" type="text" class="form-control name" formControlName="name" title="name">

        <label>Username</label>
        <input name="username" type="text" class="form-control username" formControlName="username" title="username">

        <label>Password </label>
        <input name="password" type="password" class="form-control password" formControlName="password" title="password">

        <label>Email</label>
        <input name="email" type="text" class="form-control email" formControlName="email" title="email">

        <label>Phone Number</label>
        <input name="phoneNumber" type="text" class="form-control phoneNumber" formControlName="phoneNumber" title="phoneNumber">

        <label>Address</label>
        <input name="address" type="text" class="form-control address" formControlName="address" title="address">
        <input type="submit"  class="btn btn-success login" value="Signup!">
    </fieldset>
</section>